/**
 * default.css
 * Everything goes in here.
 */
 
 /*--[global attributes]--*/
 *{
 	margin:0;
	padding:0;
 }
 
 a{
 	outline:none;
	color:#d74364;
 }
 
 h1{
	width:362px;
	height:67px;
	background:url(images/title.gif) no-repeat;
	text-indent:-9999px; 	
 }
 
 h2{
 	display:none;
 }
 
 h3{
 	padding:0 0 0 12px;
 	background:url(images/heading.gif) no-repeat 0 2px;
 	font:normal 1.5em Arial, Helvetica, sans-serif;
	color:#333;
}
 p{
  margin:1.1em 0;
 }
 body{
 	text-align:center;
 	font: 80%/130% "Lucida Grande", Verdana, Arial;
	color:#434343;
 }
 
 
  /*--[skeleton attributes]--*/
   #header{
	width:980px;
	height:101px;
  	background:url(images/head.gif) no-repeat;
	margin:0 auto;
  }
  
  #maintitle{
  	padding:0 0 0 22px;
  }
  
  #container{
  	width:980px;
  	margin:35px auto 0 auto;
	text-align:left;
  }
	    #container:after {
	    content: "."; 
	    display: block; 
	    clear: both; 
	    visibility: hidden;
	 	}
 
  #main_left{
  	float:left;
  	width:693px;
  	margin:44px 0 0 22px;
  	display:inline;
  }

  #right_area{
  	float:right;
	width:204px;
	margin:44px 22px 0 0;
	padding:0 0 0 15px;
	background:url(images/dott.png) repeat-y;
	min-height:200px;
  }
  
  /*--[navigation]--*/
  #navigation{
  	float:left;
	width:215px;
  }
  
	  #navigation ul{
		width:200px;
		margin:3px 0;
		padding:5px 0 0 0;
		background:url(images/dott.png) repeat-x;
		list-style:none;
	  }

		   #navigation ul li a{
		    display:block;
			width:190px;
			height:41px;
			text-indent:-9999px;
		   }
		   
		   #navigation ul li#calendar a{background:url(images/nav_calendar.png) no-repeat;}
		   #navigation ul li#create a{background:url(images/nav_create.png) no-repeat;}
		   #navigation ul li#search a{background:url(images/nav_search.png) no-repeat;}
		   #navigation ul li#subscribe a{background:url(images/nav_subscribe.png) no-repeat;}
		   #navigation ul li#import a{background:url(images/nav_import.png) no-repeat;}
		  
		   #navigation ul li#calendar a:hover, #navigation ul li#create a:hover, 
		   #navigation ul li#search a:hover, #navigation ul li#subscribe a:hover, 
		   #navigation ul li#import a:hover, body#create #navigation ul li#create a, 
		   body#search #navigation ul li#search a, body#subscribe #navigation ul li#subscribe a, 
		   body#import #navigation ul li#import a, body#normal #navigation ul li#calendar a
		   {background-position:0 -41px;}

 /*--[main content area]--*/
  #maincontentarea{
  	clear:right;
  	float:right;
  	width:463px;
	padding:0 5px 0 0;
  }
  
  /*--[right area]--*/

   #account_box{
  	margin:5px 0;
	padding:0 0 28px 0;
	width:178px;
	background:url(images/account_bottom.gif) no-repeat bottom right;
	
  }
 
  #account_box p{
  	padding:6px 8px 0 8px;margin:0;
  	background:url(images/account_head.gif) no-repeat top left;
  }
 
  #account_box ul{
  	margin:-8px 0;
  	padding:10px 8px;
  	background:url(images/account_middle.gif) repeat-y;
	list-style:none;
  }
 
  p#date{
  	margin:10px 0 0 0;
  	padding:0 0 0 20px;
  	background:url(images/date.gif) no-repeat;
  }
  
/**
 * Form CSS Styles
 */
form {
  margin: 0;
  padding: 0;
}

form br {
  display: none;
}

form label { 
  display: block;
  float: left;
  width: 150px;
  padding: 0;
  margin: 0 0 5px;
  text-align: right;
}
form .header {
  white-space: nowrap;
  border-bottom:1px solid #999;
  margin:5px 0 4px 0;
   padding:4px 0;
}
form .header b{
  padding:5px;
  border:1px solid #999;
}
form input, textarea, select {
  border:1px solid #8ebcd6;
  width: auto;
  padding:3px;
  margin: 0 0 5px 10px;
}
form textarea{
  height:7em;
}
form span.error {
  color: red;
  margin: 5px 0 0 10px;
}

form div.error {
  border: 1px solid red;
  margin-bottom: 10px;
}

form div {
 clear:left;
}



textarea {
  overflow: auto;
}
form fieldset{
  padding:10px 0;
  border:none;
  background:#e8f5fa;
}
/* my calendar event list */
body#normal div#maincontentarea ul{
	list-style:none;
	margin:10px 0 0 0;
	padding:6px 6px 5px 6px;
	border-bottom:1px solid #bebcbc;
}
	body#normal div#maincontentarea ul li{
	display:inline;
	margin:2px;
	padding:6px;
	border:1px solid #bebcbc;
	}
		body#normal div#maincontentarea ul li a{
		text-decoration:none;
		}
			body#normal div#maincontentarea ul li a:hover{
			text-decoration:underline;
			}
body#normal div#maincontentarea table{
	border-collapse:collapse;
	margin:10px 0;
	width:100%;
}
body#normal div#maincontentarea table thead th{
	background:#3e83c9;color:#fff;
	padding:7px;
	text-align:left;
}
body#normal div#maincontentarea table tr:hover, body#normal div#maincontentarea table tr.alt:hover{
	background:#ffffcc;
}
body#normal div#maincontentarea table tr.alt{
	background:#e8f5fa;
	border-top:1px solid #8ebcd6;
	border-bottom:1px solid #8ebcd6;
}
body#normal div#maincontentarea table tr td{
	padding:7px;
}
body#normal div#maincontentarea td.edit a{
	display:block;
	text-indent:-9999px;
	background:url(images/edit.gif) no-repeat;
	width:33px;
	height:21px;
}
body#normal div#maincontentarea td.edit a:hover{
	background-position:0 -22px;
}

/* login form */
body#login #right_area, body#login #navigation{
  	display:none;
  }
body#login #main_left{
  	position:relative;
  }
body#login #maincontentarea{
	position:absolute;
	left:42%;
  }
body#login p#lost{
	margin:-5em 0 0 12.5em;  
  }
body#login a#forgot{
   background:url(images/lost_password.gif) no-repeat;
   text-decoration:none;
   padding:1px 0 2px 25px;
  }
form#login{
	width:431px;
	height:186px;
	background:#fff url(images/login-calendar_03.gif) no-repeat;
	padding:75px 0 0 0;
	font-size:18px;
	letter-spacing:-1px;
	}
	
form#login input{
	background:#deecfd;
	border:1px solid #c2d4e2;
	font-size:17px;
	padding:3px;
}
form#login label{
	margin-top:3px;
}