/**
 * default.css
 * Everything goes in here.
 */
 
 /*--[global attributes]--*/
 *{
 	margin:0;
	padding:0;
 }
 
 a{
 	outline:none;
 }
 
 h1{
	width:362px;
	height:67px;
	background:url(images/title.gif) no-repeat;
	text-indent:-9999px; 	
 }
 
 h2{
 	display:none;
 }
 
 body{
 	text-align:center;
 	font: 71%/150% "Lucida Grande", Verdana, Arial;
	color:#3b3b3b;
 }
 
 
  /*--[skeleton attributes]--*/
   #header{
	width:980px;
	height:101px;
  	background:url(images/head.gif) no-repeat;
	margin:0 auto;
  }
  
  #maintitle{
  	padding:0 0 0 22px;
  }
  
  #container{
  	width:980px;
  	margin:35px auto 0 auto;
	text-align:left;
  }
    #container:after {
    content: "."; 
    display: block; 
    clear: both; 
    visibility: hidden;
}
  #main_left{
  	float:left;
  	width:673px;
  	margin:44px 0 0 22px;
  	display:inline;
  }
  
  #right_area{
  	float:right;
	width:219px;
	margin:44px 22px 0 0;background:#eee;
  }
  
  /*--[navigation]--*/
  #navigation{
  	float:left;
	width:215px;
	background:#eee;
  }
  
 /*--[main content area]--*/
  #maincontentarea{
  	clear:right;
  	float:right;
  	width:458px;
  }