/**
 * ieonly.css
 * IE only hacks go in here
 */
 
 * html #right_area{
	height:200px;
  }
 * html #navlinks ul{
		width:200px;}
 * html #maincontent form fieldset legend {
	margin:-13px 0 0 -7px;
	}
* html #maincontent form fieldset{
 margin:20px 0 50px 0;
}